{% extends 'frontend.html.twig' %}

{% block title %}Register Hello!{% endblock %}

{% block body %}
{{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="content">
    <h1>Register at todo-app! ✅</h1>
    <!--
    <form method="post">
    <table>
        <tr><td>Email</td><td><input type='text' value='' name='email'><td></tr>
        <tr><td>Password</td><td><input type='password' value='' name='password'><td></tr>
        <tr><td>Username</td><td><input type='text' value='' name='username'><td></tr>
        <tr><td>Name</td><td><input type='text' value='' name='name'><td></tr>
        <tr><td><input type='submit' value='Enviar'></td></tr>
    </table>
    </form>
    -->
<table>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <tr>
        <td>{{ form_label(form.email) }}</td>
        <td>{{ form_errors(form.email) }}</td>
        <td>{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.password.first) }}</td>
        <td>{{ form_errors(form.password.first) }}</td>
        <td>{{ form_widget(form.password.first) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.password.second) }}</td>
        <td>{{ form_errors(form.password.second) }}</td>
        <td>{{ form_widget(form.password.second) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.nickname) }}</td>
        <td>{{ form_errors(form.nickname) }}</td>
        <td>{{ form_widget(form.nickname) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.name) }}</td>
        <td>{{ form_errors(form.name) }}</td>
        <td>{{ form_widget(form.name) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(form.save) }}</td>
    </tr>

    {{ form_end(form) }}
</table>
    
</div>
{% endblock %}
