{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{ parent() }}
<link rel="stylesheet" href="css/frontend.css">
    <style>
    
    </style>
{% endblock stylesheets %}
        
    {% block navbar %}
    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Todo-app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            </ul>
            /*
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            
            */
            {% if is_granted("ROLE_USER") %}
                <span class="greetings">Hi, <a href="/profile">{{ app.user.email }}</a> <a href="/logout">Logout</a></span>
            {% else %}
                <span class="greetings"><a href='login'>Login</a></span>
            {% endif %}
            
        </div>
    </nav>
    -->

<div class="topnav" id="myTopnav">
    <a href="{{ path("home") }}" class="active">Todo-app</a>
    {% if is_granted("ROLE_USER") %}<a href="profile">{% trans %}Profile{% endtrans %}</a>{% endif %}
    <a href="about">{% trans %}About us{% endtrans %}</a>
    {% if is_granted("ROLE_USER") %}
        <a style='float:right;' href="logout">{% trans %}Logout{% endtrans %}</a> <a style='float:right;' href="profile">{{ app.user.email }}</a>
    {% else %}
        <a style='float:right;' href='login'>{% trans %}Login{% endtrans %}</a><a style='float:right;' href='register'>{% trans %}Register{% endtrans %}</a></span>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>    
</div>
{% endblock navbar %}   
{% block footer %} 
<footer id='footer' class='footer'>Todo App 2018</footer>
{% endblock footer %}   
{% block body %}
{{ parent() }}   
    
{% endblock body %}       