{% extends 'frontend.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <style>
  
    </style>
{% endblock stylesheets %}


{% block title %}Profile at todo-app!{% endblock %}
{% block body %}
{{ parent() }}
<div class="content">
    <h1>Profile</h1>
    <table>
        <tr><td>Email</td> <td>{{ app.user.email }}</td></tr>
        <tr><td>{% trans %}Username{% endtrans %}</td><td>{{ app.user.nickname }}</td></tr>
        <tr><td>{% trans %}Name{% endtrans %}</td><td> <input id='nick' name='nick' type="text" value="{{ app.user.name }}"></td></tr>
        <tr><td>Locale</td><td>{{ form_widget(form.locale) }} {{ form_widget(form._token) }}</td></tr>
        <tr><td>{% trans %}Verified Email{% endtrans %}</td><td>{% if app.user.emailVerified == true %}Si{% else %}No{% endif %}</td></tr>
        <tr><td>Total Todos</td><td> {{ total_todos }}</td>
        <tr><td>ShowAll</td><td>{{ app.user.configshowall }}</td></tr>
        <tr><td>NumRows</td><td>{{ app.user.confignumrows }}</td></tr>
        <tr><td>ShowDateStart</td><td>{{ app.user.configshowdatestart }}</td></tr>
        <tr><td>ShowDateFinish</td><td>{{ app.user.configshowdatefinish }}</td></tr>
    </table>
</div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        function saveLocale(el){
            //alert(el);
            //console.log(el);
            console.log(el.options[el.selectedIndex].value);

            form_locale = { locale: document.getElementById("form_locale").value, _token: document.getElementById("form__token").value };

            $.ajax({
                url: "profile",
                type: "POST",
                data: JSON.stringify(form_locale),
                contentType: "application/json",
            });
        };
    </script>
{% endblock javascripts %}


